<div>
  <h1>Dashboard</h1>
</div>

<div>
  <section>
    <h3>New Post</h3>

    <form class="new-blogpost-form">
      <div>
        <label for="post-title">Title</label>
        <input class="form-input" type="text" id="post-title" name="post-title" />
      </div>
      <div>
        <label for="post-content">Content</label>
        <textarea class="form-input" id="post-content" name="post-content"></textarea>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </section>

  {{if blogPosts.length}}
  <div class="blogpost-list">
    <h3>My Posts</h3>

    {{#each blogPosts as |blogPost|}}
    <article>
      <h2>
        <a href="/blogpost/{{blogPost.id}}">{{blogPost.title}}</a>
      </h2>

      <div>
        <p>Created on: {{format_date blogPost.timestamp}}</p>
      </div>

      <div>
        <button data-id="{{blogPost.id}}">Delete Post</button>
      </div>
    </article>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="../public/js/dashboard.js"></script>